<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <appSettings>
    <add key ="SERVICE_PREF_INT" value="SrvIntEnt"/>
    <add key ="SERVICE_PREF_TAR" value="SrvIntTar"/>
    <add key ="SERVICE_PREF_PROCESS" value="SrvIntPrc"/>
    <add key ="SERVICE_PREF_APP" value="SrvApl"/>
    <add key ="WSDLS_PATH" value="C:\TFS\WSDLCreator\Dev\dev-1.0.0\CMI-WSDLCreator\WSDLs"/>
    <add key ="BASE_FOLDER__PATH" value="C:\b\d"/>
  </appSettings>
  
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  
</configuration>